<html>
<head>
<title>CSS 01</title>
<meta charset="utf-8"/>
</head>
<body>


       
    <b>
        Hi ,
        
        There was a request to change your password!
        
        If you did not make this request then please ignore this email.
        
        Otherwise, please click this link to change your password:`http://localhost:3000/admin/login/reset-password?token=<%=token%>`</b>


<p>
	Cám ơn quý khách đã mua hàng tại Shop của chúng tôi.Nếu có bất kì sự cố gì khách hàng có thể liên hệ qua số hotline : 0866 9999
</p>

</body>
</html>