<h1>WELCOME EJS</h1>
<%- include("./admin/test2")%>
<%if(a < 0){%>
    <h3>THoa Man</h3>
<%}
else{%>
    <h3>Khong thoa man</h3>
<%}%>

<% for(var i=0;i<=6;i++){ %>
        <h2>ADB-<%=data%></h2>
<% } %>